body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
}

.bg-black {
    background-color: black;
}

.heading {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: underline;
}

.flex-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}

.flex-item {
    background: cyan;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.col-md-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-link {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.btn {
    margin-top: 10px;
}
.newArray {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 8px 18px; /* Slightly smaller padding */
    font-size: 16px; /* Slightly smaller font size */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 30px; /* Rounded corners */
}

.newArray:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent white */
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #343a40; /* Dark background color */
    color: white;
    padding: 10px;
    text-align: right;
}

.description {
    font-size: 20px; /* Adjust the font size as needed */
    text-align: justify;
    margin-bottom: 0; /* Remove margin bottom */
    line-height: 1.2; /* Adjust line height as needed */
}

.Complexity_Containers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Pair_Definitions {
    display: flex;
    align-items: center;
}

.Sub_Heading {
    margin-right: 10px;
}

.time-complexity,
.space-complexity {
    padding-left: 60px; /* Adjust this value as needed */
}